@font-face {
  font-family: GTPFont;
  src: url("/font/Roboto-Medium.ttf");
}

@font-face {
  font-family: GTPFontThin;
  src: url("/font/Roboto-Regular.ttf");
}

body {
  /* background: #0E0731; */
  background-image: url("/images/space2.jpg");
  /* background-size: 100%; */
  font-family: GTPFont, Rubik, sans-serif;
}

.input-price-unit {
  font-size: 10px;
  padding-bottom: 4px;
  flex-direction: column-reverse;
}

.stamp {
  transform: rotate(12deg);
  color: #555;
  font-size: 30px;
  font-weight: 700;
  /* border: 0.25rem solid #555; */
  display: inline-block;
  padding: 0.25rem 0rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: 'Courier';
  -webkit-mask-image: url(/images/grunge.png);
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.is-approved {
	color: #54B644;
	border: none;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-25deg);
  border-radius: 5px;
}

.is-lost {
	color: #b71c1c;
	border: none;
	-webkit-mask-position: 13rem 6rem;
	transform: rotate(-25deg);
  border-radius: 5px;
}


.price-unit{
  font-size: 10px;
  margin-left: 5px;
  display: flex;
  padding-bottom: 4px;
  flex-direction: column-reverse;
}

.price-value .price-unit {
  font-size: 12px;
  padding-bottom: 5px;
}

.flex {
  display: flex;
}

.mr1 {
  margin-right: .5em;
}

/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #091647; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}

.App-link {
  color: #09d3ac;
}

.hidden {
  display: none!important;
}

/* MAIN HEADER */
.menu-bar{
  width :100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  /* background-color: #091647; */
  /* background-color:red; */
  border-bottom: 1px solid #444;
  /* border-right: 1px solid grey; */
  align-items: center;
  justify-content: space-between;
}
.gameName{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 45px;
  /* padding:20px; */
  /* border-radius: 20px; */
  color:#444;
}
.game-fullform{
  color:#fff;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  width:100%;
}

.login-section {
  padding: 10px 0 10px 10px;
}
#login-button {
  color: #081547;
  font-weight: bold;
}

.user-info-container {
  color: #444;
  display: flex;
  align-items: center;
}

.user-info-popover .MuiPopover-paper{
  width: 400px;
  border-radius: 10px;
  padding-top: 10px;
}

.username-missing {
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  padding: 5px;
  justify-content: center;
  background: #b71c1c!important;
  border-radius: 5px;
  color: #fff;
}

.username-missing button {
  width: fit-content;
  margin-left: 10px;
}

.user-info-deposit-address {
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.user-info-deposit-label {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.user-info-deposit-info {
  text-align: center;
  color: green;
  font-size: 14px;
}

.tooltipLabel {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dotted black;
}

.tooltiptext{
  margin-top:-60px;
  width: 70%;
  margin-left: 20px;
  /* margin-right: auto; */
}

.tooltipLabel .tooltiptext {
  visibility: hidden;
  background-color: wheat;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 1!important;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}

.tooltipLabel:hover .tooltiptext {
  visibility: visible;
}
.user-info-row .MuiTableCell-head {
  font-weight: 600;
}

.user-info-popover .user-info-row {
  margin-top: 10px;
}

#username-chip {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

#username-chip .MuiChip-label {
  flex: 1;
}

.user-info-row {
  padding-left: 10px;
  padding-right: 10px;
}

.username-label span{
  font-size: 16px;
}

.logout-row {
  margin-top: 0px!important;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #eee;
  text-align: right;
}

.deposit-withdraw-row {
  display: flex;
  justify-content: center;
  padding-top: 20px!important;
  background-color: #eee;
  margin-top: 0px!important;
}

.deposit-withdraw-row button {
  background-color: #1F45F5;
  color: white;
}

.show-wallet-row {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0px;
}

.show-withdraw-button {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  font-size: 14px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* .show-wallet-row .MuiButton-text {
  color: white;
} */

.deposit-withdraw-row button {
  margin: 0 10px;
}

.logout-row .MuiButton-label {
  color: #b71c1c!important;
}

.user-icon {
  margin-left: 5px;
}

.user-chips {
  background-color: white!important;
}

.user-chips:not(:last-child) {
  margin-right: 10px;
}

#user-balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#user-balance-amount {
  font-size: 30px;
  font-weight: 600;
  padding: 5px 10px;
}

#user-balance-unit {
  padding: 5px 0 5px 0;
  margin-bottom: 0px;
}

#current-balance-label{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
 
}

#current-balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-balance {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

.balance-row {
  margin-top: 50px!important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 50px;
}

#user-balance-usd {
  font-size: 14px;
  padding: 2px 10px;
  /* min-width: 144px; */
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #3f51b5;
  color: #fff;
  border-radius: 5px;
  margin-top: -10px;
}

#user-balance-usd .MuiChip-root {
  font-size: 20px;
  min-width: 100px;
}
/****** ENDS *****/

.main-section {
  /* background-color: #091647; */
  padding-left: 14%;
  padding-right: 14%;
}
.main-container {
  display: flex;
  flex-direction: row;
  height: 520px;
}


/*  ----Home -> Left component ---- */
.time-remaining-counter {
  font-size: 30px;
  margin-right: 8px;
}

.state-heading-timer {
  color:#fff;
  font-weight: 600;
  font-size: 16px;
}

.state-heading-desc {
  color: #fff;
  font-weight: 600;
}

.state-page-heading {
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  opacity: 0.9;
  padding:0px 30px;
  align-items: center;
}

.leftSection{
  width :60%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.description-heading{
  /* width:70%; */
  margin-top:100px;
  text-align:left;
  letter-spacing: 1px;
  text-align: left;
}
#heading{
  color:#fff;
  font-weight: 700;
  font-size: 25px;
}
.description-content{
  margin-top:10px;
  /* margin-left: auto;
  margin-right: auto; */
  width:90%;
  text-align:left;
  text-align: justify;
}
#content{
  color:#fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 30px;
  opacity: 0.8;
}
.launch-button{
  margin-top: 60px;
  display: flex;
}
.play-button{
  text-transform: capitalize !important;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  background-color: #000!important;
  width: 35%;
  height: 50px;
  border-radius: 15px!important;
  transition: all 0.4s ease 0s;
}

#start-playing{
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
  color: #fff !important;
}

/* ----Home -> Right component ----- */
.rightSection{
  width :40%;
  margin-left: auto;
  margin-right: auto;
  color:#444;
}

.current-staking-price{
  /* margin-top:100px; */
  font-weight: 600;
  text-transform: capitalize;
  font-size:17px;
  opacity: 0.6;
  text-align: right;
}

.matic-staking-price{
  /* margin-top:10px; */
  opacity: 0.8;
  font-size:14px;
  font-weight: 600;
  text-align: right;

}

.rules-heading{
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  margin-top: 100px;
  text-align: center;
}

#rule-content-container {
  font-family: GTPFont;
  padding: 10px;
  background: rgb(34, 34, 34,.8);
  border-radius: 5px;
}

.rule-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.rule-number {
  background: #fff;
  width: 18px;
  height: 18px;
  border-radius: 25px;
  color: #000;
  display: flex;
  align-items: center;
  flex: none;
  justify-content: center;
}

.rule-text {
  color: #fff;
  margin-top: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.rule-row-heading {
  display: flex;
  width: fit-content;
  padding: 3px 10px;
  background: #444;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
}

.rule-text-heading {
  color: #fff;
  margin-left: 10px;
}

.launch-page-content {
  padding: 20px 5px;
}

.launch-page-content h5 {
  color: #fff;
}

/************** STEPPER *****************/
.stepper {
  background-color: transparent!important;
}

.stepper .MuiStepLabel-label {
  color: #fff;
}

.stepper .MuiStepLabel-label.MuiStepLabel-completed {
  color: #fff;
}

.stepper .MuiStepLabel-label.MuiStepLabel-active {
  color: yellow ;
}

.stepper .MuiStepIcon-root.MuiStepIcon-completed {
  color: #fff;
}

.stepper .MuiStepIcon-root.MuiStepIcon-active {
  color: yellow;
}

.stepper .MuiStepIcon-root.MuiStepIcon-active .MuiStepIcon-text {
  fill: #000;
}

.stepper .MuiStepIcon-root {
  color: #fff;
}

.stepper .MuiStepIcon-text {
  fill: #000;
}
/********** STEPPER ENDS ****************/

/*--- Prepare Page-> Left component --- */

/****/
#countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 140px;
  width: 140px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

svgx {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 140px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svgx circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown 30s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.phase-label {
  background: #fff;
  color: #1b5e20;
  padding: 5px 10px;
  border-radius: 5px;
}

.prepare-page-message {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}

.CircularProgressbar {
  width: 50%!important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.prepare-page-heading{
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.9;
}
#prepare-matic-price{
  opacity: 0.7;
  font-size: 19px;
}
#prepare-heading{
  color: #1b5e20;
  /* width: 40%; */
  font-weight: 700;
  font-size: 20px;
}
#prepare-timer{
  color: #fff;
    width: 30%;
    font-weight: 600;
    font-size: 16px;
}

.prepare-page-content{
  margin-top:50px;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.prepare-staking-price{
  color: #fff;
  border-radius: 50%;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  flex-direction: column;
}
/*--- Prepare Page-> Right component --- */
.prepare-page-right{
  color: #fff;
  border-left: 1px solid #444;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prepare-page-right .price-container .price-container-heading {
  font-size: 28px;
  margin-bottom: 10px;
}

.prepare-page-right .price-container .price-value {
  padding: 0 15px;
}

/* .Gaming-rules{
  text-align: center;
  border-radius: 10px;
  width:50%;
  margin:auto;
} */

.quotes-container{
  color: #fff;
}

/* #rules{
  font-size:18px;
  font-weight: 600;
  opacity: 0.8;
  color:#48A049;
  line-height: 1.8em;
}

#rule-points li{
  margin-top: 10px;
  font-size:12px;
  font-weight: 600;
  opacity: 0.6;
  color:#fff;

} */

/*--- Start Page-> Left component --- */

.place-bet-min-balance-label {
  position: absolute;
  height: 32px;
  left: 0px;
  top: -20px;
  font-size: 13px;
  color: #aaa;
}

.start-page-user-balance {
  position: absolute;
  height: 32px;
  top: -42px;
  right: 0px;
}
.start-page-left{
  border-right: 1px ridge #444444;
  padding: 0px 24px;

}

#start-heading{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 20px;
}

.start-page-content{
  margin-top:50px;
  width:90%;
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-container{
  /* background-color: #A92626; */
  /* font-weight: 800; */
  font-size: 16px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-heading{
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  margin-bottom: 18px;
}

.price-value{
  font-size: 26px;
  /* letter-spacing: 1px; */
  background: rgb(34, 34, 34,.5);
  /* background:#3bc56c; */
  font-family: GTPFont;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.5rem;
  padding: 0px 16px;
  border-radius: 10px;
}

#fluctuating-price{
  color:#fff;
}
#current-stake-price{
  color: #fff;
}

.place-bet-container {
  position: relative;
  width: 100%;
}

.bet-buttons{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5%;
  margin-top:20px;
  justify-content: space-between;
}

.bet-buttons button {
  font-size: inherit;
  height: 40px;
  border-radius: 4px!important;
}

.place-bet-cover {
  position: absolute;
  top: -5%;
  left: 4%;
  width: 92%;
  height: 110%;
  background-color: rgb(28, 27, 23, .9);
  z-index: 1;
  display: flex;
  color: white;
  padding: 7px 6px;
  flex-direction: column;
  font-family: GTPFont;
  border-radius: 5px;
}

.place-bet-cover-close {
  display: flex;
  position: absolute;
  right: 10px;
  cursor: pointer;
  flex-direction: row-reverse;
}

.place-bet-cover-content {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 25px;
  justify-content: center;
}

.bet-placed{
  text-transform: capitalize !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 48%;
  height: 50px;
  border-radius: 10px!important;
  transition: all 0.4s ease 0s;
}
#up-button{
  /* border:2px solid grey; */
  background-color: rgb(219, 219, 219);
  color:#1b5e20;
  font-weight: 800;
}
#down-button{
  /* border:2px solid black; */
  background-color: rgb(219, 219, 219);
  color:#b71c1c;
  font-weight: 800;
}

.field {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 80px;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.field.focussed input {
  padding: 24px 16px 8px 16px;
}

.input-field-container {
  display: flex;
}

.input-price-chip {
  margin-right: 9px!important;
}

.input-price-buttons {
  display: flex;
  align-items: center;
}

.field input {
  width: 50%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #fff;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}
.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/*--- Start Page ->  Right Component--- */
.start-page-right{
  margin-top: 30px;
  height: 100%;
}
.players{
  /* border-left: 1px solid grey; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
}

.player-list{
  width:48%;
  padding: 10px 1%;
}
.player-header{
  margin-left: auto;
  margin-right: auto;
  /* height: 35px; */
  font-size:18px;
  font-weight: 700;
  padding: 3px 0px;
  text-align: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#player-up-bet{
  color: #5BC66D;
  background-color: rgb(34, 34, 34,.5);
  border-radius: 4px;
}

#player-down-bet{
  color: #cc0000;
  background-color: rgb(34, 34, 34,.5);
  border-radius: 4px;
}

.play-list{
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align:center;
  font-size:16px;
  font-weight: 400;
  opacity: 0.9;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bet-list-item {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color:rgb(125, 125, 124, .8);
  border-radius: 5px;
}

.player-name{
  font-size:16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.partition{
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid grey;
}

.win-amount{
  font-size:16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

/*--- Result Page-> Left component --- */

.result-page-left{
  height: 100%;
}

.result-page-heading{
  margin-top:30px;
  letter-spacing: 2px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.8;
}

#result-heading{
  color:#fff;
  width: 40%;
  font-weight: 600;
  font-size: 20px;
}

#result-page-timer{
  color:#fff;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.6;
}
.last-stake-price{
  margin-right: 30px;
  font-weight: 600;
  color:#CECFDA;
}
.result-page-content{
  margin-top:100px;
  margin-right: auto;
  margin-left: auto;
  width:95%;
  align-items: center;
  justify-content: center;
  text-align:left;
  text-align: center;
  position: relative;
}

.result-content{
  display: flex;
  flex-direction: column;
  font-family: GTPFontThin;
  letter-spacing: 2px;
}

.result-page-content #price-gauge-container {
  margin-top: 110px;
  margin-bottom: 100px;
}

.result-span {
  margin-top: 10px;
}

.focus-style {
  letter-spacing: 2px;
  background-color: #222;
  padding: 2px 18px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.buckle-up {
  margin-top: 20px;
}

.result-content .winner {
  color: #5BC66D;
}

.result-content .looser {
  color: #E57373;
}


.staking-price-value{
  margin:auto;
  color:#fff;
  width: 50%;
}
.staking-price{
  /* border:5px solid #fff; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin:auto;
  text-align: center;
}

.final-result{
  color:white;
  font-size: 20px;
  font-weight: 700;
  margin-top:510px;
  /* background: #A92626; */
  margin:auto;
}

.twitter-share{
  display: flex;
  width:200px;
  flex-direction: column;
  margin-right: 100%;
  margin-top: 150px;
}

#share-on-twitter{
  display: flex;
  font-size: 16px;
  color:grey;
  align-items: center;
}

#twitter-share-button{
  font-size: 16px;
  color:grey;
  width:100px;
}
/*--- result Page-> Right component --- */

.win-list-header {
  width: 80%;
  padding-top: 15px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #ccc;
}

.result-list-item {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color:rgb(125, 125, 124, .8);
  border-radius: 5px;
  color: #fff;
}

.result-page-right{
  margin-top: 30px;
  height: 100%;
}
.winners{
  /* border-left: 1px solid grey; */
  height: 500px;
}
.winner-header{
  margin-left: auto;
  font-family: GTPFont;
  color: #fff;
  border-radius: 4px;
  margin-right: auto;
  width:80%;
  height: 35px;
  font-size:36px;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-list{
  /* background: #D1302B; */
  display: flex;
  flex-direction: column;
  text-align:center;
  font-size:16px;
  font-weight: 400;
  opacity: 0.9;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.winner-name{
  font-size:16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.partition{
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid grey;
}
.win-amount{
  font-size:16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

/*--- Wait Page-> Left component --- */
.wait-page-left{
  height: 100%;
}
.wait-page-heading{
  margin-top:30px;
  letter-spacing: 1px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#wait-heading{
  color:#fff;
  width: 40%;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.9;
}

#wait-content{
  color:#fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

#timer{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 16px;
}

.wait-page-content{
  margin-top:25%;
  margin-right: auto;
  margin-left: auto;
  width:60%;
  align-items: center;
  justify-content: center;
  text-align:left;
  text-align: center;
}

.staking-price{
  color: #fff;
  border-radius: 50%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#price-gauge-container {
  margin-top: 50px;
  height: 10px;
  border-bottom: 1px solid #eee;
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#stake-price-badge{
  width: 0.25%;
}

#stake-price-badge .price-gauge-bars {
  width: 100%;
}

#stake-price-container {
  position: absolute;
  width: 12rem;
  left: -6rem;
  top: -4.7rem;
}

#stake-price-container .price-value {
  /* background: transparent; */
  color: #fff;
  font-size: 1.5rem;
  padding: 0px 6px;
  border-radius: 10px;
}

#stake-price-arrow {
  position: relative;
  top: -11.5px;
  fill: #fff;
}

.bet-result-string {
  color: white;
  margin-bottom: 20px;
  background: none;
  font-size: 25px;
}

.price-label {
  color: white;
  background: #222;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#current-price-container {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: -4.7rem;
}

#current-price-container .price-value {
  background: rgb(34, 34, 34,.5);
  font-size: 1.5rem;
  padding: 0px 10px;
  border-radius: 10px;
}

#current-price-arrow {
  position: relative;
  top: 10.5px;
  fill: #3bc56c;
}

.price-gauge-bars {
  width: 2px;
  height: 100%;
  background: #eee;
  top: 50%;
  position: relative;
}

.high-price {
  color:#54B644!important;
  background-color: rgb(9, 10, 14, .5);
  /* border: 1px solid #3bc56c; */
}

.high-price-icon {
  fill:#54B644!important;
}

.low-price {
  color: #cc0000!important;
  /* border: 1px solid #63120F; */
}

.low-price-icon {
  fill: #cc0000!important;
}

/* #faded{
  background: rgb(124, 124, 124);
} */

/*--- Wait Page-> Right component --- */
.wait-page-right{
  margin-top: 30px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bet-header{
  margin-left: auto;
  margin-right: auto;
  width:80%;
  height: 35px;
  font-size:16px;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-items: center; */
  justify-content: center;
}
#bet-down-header{
  color: white;
  background: #D1302B;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
}

#bet-up-header{
  background: #48A049;
  border-radius: 10px 10px 0 0;
  color: white;
}
#bet-up-list{
  border: 2px solid #48A049;
}
#bet-down-list{
  border: 2px solid #D1302B;
}

#list{
  list-style: none;
}
.bet-list{
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 220px;
  border-radius: 0 0 10px 10px;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  color:#fff;
  font-size:12px;
  font-weight: 400;
  opacity: 0.9;
}
/************* OVERLAY LOADER ***********/
/* .gtp-overlay-wrapper {

} */

.bet-list ul {
  overflow-y: scroll;
  height: 100%;
  padding: 10px;
  font-size: 18px;
}

/* .gtp-overlay-overlay {

} */

/* .gtp-overlay-content {

}

.gtp-overlay-spinner {

} */
/********** ENDS ***************/

/************** FOOTER ***************/

.footer {
  display: flex;
  flex-direction: column;
  bottom: 0px;
}

.social-media-icon{
  display:flex;
  flex-direction: column;

}
.icons{
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;

  margin-bottom: 0px;
}
.social-icons{
  color:white!important;
  opacity: .8;
  margin-right:30px;
}

.disclaimer{
  margin-top: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
  /* padding-left: 40px; */
}
/************ ENDS *********/


/********** OVERLAY DIALOG *******/
.dialog-error-message {
  color: #D8000C;
  padding: 5px;
  margin-top: 5px;
  background-color: #FFBABA;
  border-radius: 5px;
  font-size: 12px;
}

/********* ENDS **********/

/******** MOBILE *************/
.mobile {
  display: none!important;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block!important;
  }

  .non-mobile {
    display: none!important;
  }

  .main-section {
    padding-left: 4%;
    padding-right: 4%;
  }

  .main-container {
    flex-direction: column;
    height: auto;
  }

  .leftSection {
    width: 100%;
    height: auto;
  }

  .rightSection {
    width: 100%;
    height: auto;
  }

  .description-heading {
    margin-top: 40px;
  }

  .launch-button {
    margin-top: 20px;
  }

  .play-button {
    width: 50%;
  }

  .rules-heading {
    margin-top: 45px;
    text-align: center;
    background: rgb(0,0,0,0.4);
    padding: 5px;
    border-radius: 5px;
  }

  .disclaimer {
    margin-top: 10px;
    justify-content: center;
  }

  .icons {
    justify-content: center;
  }

  .rule-item {
    margin-bottom: 15px;
  }

  .social-icons {
    margin-left: 16px;
    margin-right: 16px;
  }

  .menu-bar {
    flex-direction: row;
    height: auto;
    border-bottom: none;
    padding-top: 25px;
  }

  .gameName {
    width: 75%;
  }

  .logo {
    height: auto;
    width: 100%;
    /* border-radius: 13px; */
  }

  .login-section {
    padding: 21px 0 10px 10px;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }

  .stepper.MuiStepper-root {
    padding: 0px;
    height: 46px;
    background-color: rgb(0,0,0,.4)!important;
    margin-top: 25px;
  }

  .stepper .MuiStepLabel-label {
    font-size: 12px;
  }

  .stepper .MuiStepIcon-root {
    height: 1rem;
    width: 1rem;
  }

  .stepper .MuiStepIcon-root .MuiStepIcon-text {
    font-size: 18px;
  }

  .start-page-left {
    padding: 0px;
    border-right: none;
    height: auto;
  }

  .start-page-right {
    height: auto;
  }

  .state-page-heading {
    padding: 0px;
    margin-top: 10px;
  }

  .field {
    width: 100%;
    margin-top: 30px;
  }

  .place-bet {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  .bet-buttons {
    padding: 0px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  .place-bet-min-balance-label {
    top: -22px;
  }

  .start-page-user-balance {
    max-width: 50%;
    height: 20px!important;
    top: -24px;
  }

  .bet-buttons button {
    height: 40px;
    font-size: 14px!important;
  }

  .place-bet-cover {
    width: 100%;
    left: 0px;
  }

  .current-bets {
    padding: 5px 10px;
    letter-spacing: 1px;
    color: #ddd;
    font-size: 20px;
    background-color: rgb(0,0,0,.4);
    text-align: center;
  }

  .footer {
    padding-bottom: 25px;
  }

  .prepare-page-right {
    border-left: none;
  }

  .state-heading-timer {
    width: 50%;
  }

  .state-heading-desc {
    margin-left: 20px;
    text-align: justify;
    flex: 1;
  }

  .wait-page-content {
    width: 90%;
    margin-top: 120px;
  }

  .wait-page-content .staking-price {
    height: 100px;
  }

  .result-page-content {
    margin-top: 100px;
  }

  .winner {
    width: 148px;
    position: absolute;
    top: -108px;
    font-size: 30px;
    left: -18px;
    color: #101010;
    background: #54B654;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .looser {
    width: 168px;
    position: absolute;
    top: -108px;
    font-size: 30px;
    left: -18px;
    color: #fff;
    background: #b71c1c;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  .focus-style {
    background-color: rgb(0, 0, 0, 0.4);
  }

  .user-info-container {
    flex-direction: row-reverse;
  }

}