.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #091647;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-section {
  background-color: #091647;
}
.menu-bar{
  width :100%;
  display: flex;
  flex-direction: row;
  height: 130px;
  background-color: #091647;
  align-items: center;
}
.gameName{
  display: flex;
  flex-direction: column;
  width:300px;
  margin-left: 80px;
}
.game-shortform{
  color:#2046F5;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  width:100%;
}
.game-fullform{
  color:#fff;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  width:100%;
}
.center{
  display: flex;
  flex-direction: row;
  height: 600px;
}

/*  ----Home -> Left component ---- */
.leftSection{
  width :60%;
  display: flex;
  flex-direction: column;
}

.description-heading{
  margin-top:30px;
  width:60%;
  text-align:left; 
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
#heading{
  color:#fff;
  font-weight: 600;
  font-size: 35px;
}
.description-content{
  margin-top:50px;
  width:60%;
  text-align:left; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
#content{
  color:#fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  opacity: 0.8;
}
.launch-button{
  margin-top: 50px;
  display: flex;
  margin-left:170px;
}
.play-button{
  text-transform: capitalize !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #0000ff!important;
  width: 35%;
  height: 50px;
  border-radius: 30px!important;
  transition: all 0.4s ease 0s;
}

#start-playing{
  font-size: 18px;
  font-weight: 600;
  vertical-align: middle;
  color: #fff !important;
}

.social-media-icon{
  margin-top: 50px;
  margin-left: 150px;
  
}

.icons{
  list-style: none;
  display: flex;
  flex-direction: row;
  
}
.social-icons{
  color:white;
  opacity: .8;
  margin-right:40px;
}

.disclaimer{
  color:#fff;
  margin-top: 70px;
  letter-spacing: 1px;
  text-align: left;
  margin-left:170px;
  font-size:12px;
  opacity: 0.5;
  bottom: 0;
}

.video-popup{
  color:#fff;
}

/* ----Home -> Right component ----- */
.rightSection{
  width :40%;
  color:#fff;
}

.current-staking-price{
  margin-top:10px;
  font-weight: 800;
  text-transform: capitalize;
  font-size:20px;
  opacity: 0.9;
  text-align: center;
}

.matic-staking-price{
  margin-top:50px;
  opacity: 0.8;
  font-size:16px;
  font-weight: 600;
  text-align: center;

}

/*--- Prepare Page-> Left component --- */
.prepare-page-left{
  border-right: 1px ridge #fff;
  height: 600px;
}

.prepare-page-heading{
  margin-top:30px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}

#prepare-heading{
  color:#fff;
  width: 50%;
  font-weight: 600;
  font-size: 18px;
  margin-left: 177px;
}
#prepare-timer{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 18px;
  margin-left: 172px;
}

.prepare-page-content{
  margin-top:120px;
  width:60%;
  text-align:left; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.staking-price{
  border:5px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

/*--- Prepare Page-> Right component --- */
.Gaming-rules{
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width:25%;
}

#rules{
  font-size:18px;
  font-weight: 600;
  opacity: 0.8;
  color:#fff;
  line-height: 1.8em;
}

#rule-points li{
  margin-top: 20px;
  font-size:14px;
  font-weight: 600;
  opacity: 0.6;
  color:#fff;
  
}

/*--- Start Page-> Left component --- */
.start-page-left{
  border-right: 1px ridge #fff;
  height: 600px;
}
.start-page-heading{
  margin-top:30px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

#start-heading{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 18px;
  margin-left: 172px;
}
#start-timer{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 16px;
  margin-left: 172px;
  text-align: center;
}

.start-page-content{
  margin-top:80px;
  width:60%;
  /* background-color: #09d3ac; */
  text-align:left; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-container{
  width: 200px;
  font-weight: 800;
  font-size: 18px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-heading{
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  opacity: 0.6;
}
#fluctuating-price{
  color: green;
}
#current-stake-price{
  color:#fff;
}

.bet-buttons{
  /* background-color: #09d3ac; */
  display: flex;
  flex-direction: row;
  margin-left:auto;
  margin-right:auto;
  width:60%;
  margin-top:10px;
  justify-content: space-between;
  
}
.bet-placed{
  text-transform: capitalize !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 45%;
  height: 50px;
  border-radius: 10px!important;
  transition: all 0.4s ease 0s;
}
#up-button{
  border:2px solid #3A8347;
  background-color: #081647;
  color:#3A8347;
  font-size: 20px;
  font-weight: 800;
}
#down-button{
  border:2px solid #A92626;
  background-color: #081647;
  color:#A92626;
  font-size: 20px;
  font-weight: 800; 
}

.field {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255,255,255,0.3);
  transition: 0.3s all;
}
.field:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.field.focussed input {
  padding: 24px 16px 8px 16px;
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #fff;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
}
.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

/*--- Start Page ->  Right Component--- */
.go-fast{
  width:250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #09d3ac;
}
/*--- Wait Page-> Left component --- */
.wait-page-left{
  border-right: 1px ridge #fff;
  height: 600px;
}
.wait-page-heading{
  margin-top:30px;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

#wait-heading{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 18px;
  margin-left: 172px;
}
#timer{
  color:#fff;
  width: 30%;
  font-weight: 600;
  font-size: 16px;
  margin-left: 172px;
  text-align: center;
}

.wait-page-content{
  margin-top:10px;
  width:60%;
  text-align:left; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
#wait-content{
  color:#fff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 30px;
  /* opacity: 0.8; */
}

.staking-price-value{
  margin-top:80px;
  color:#F0BA43;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.staking-price{
  border:5px solid #fff;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

/*--- Wait Page-> Right component --- */
.bet-up-list{
  height: 300px;;
}
.bet-header{
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  font-size:16px;
  font-weight: 700;
  opacity: 0.8;
  text-align: center;
}
#bet-down-header{
  border: 2px solid #D1302B;
  background-color: #D1302B;
}

#bet-up-header{
  border: 2px solid #48A049;
  background-color: #48A049;
}

#bet-list{
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  width:60%;
  font-size:14px;
  font-weight: 400;
  opacity: 0.9;
}

